/* Utility Classes */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  width: 500px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 50px #e4e5e0;
}

.center{
  text-align: center;
}

/* Header Classes */
h1{
  margin: 30px 0;
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

/* Main Classes */
#items{
  width: 200px;
  margin: 0 10px 20px 0;
  padding: 7px;
  border: none;
  border-radius: 20px;
  background: #efefef;
}

button{
  padding: 10px 7px;
  border: none;
  border-radius: 50%;
  font-size: 7px;
  background: #ccc;
}

#items:focus, button:focus{
  outline: none;
}

ul li{
  position: relative;
  width: 380px;
  margin: 0 auto;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
  font-family: 'Yusei Magic', sans-serif;
  list-style: none;
}

ul li i{
  position: absolute;
  right: 20px;
  bottom: 5px;
}
