<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/master.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" class="favicon">
    <title>todo-list</title>
  </head>
  <body>

    <div id="root">

      <!-- Header Section -->
      <header>
        <h1 class="center">To-do List</h1>
      </header>

      <!-- Main Section -->
      <main>
        <div class="center">
          <input id="items" class="center" v-model="listItems" @keyup.enter="submit" placeholder="New Todo">
          <button @click="submit">ADD</button>
        </div>
        <ul>
          <li v-for="(item, index) in array">{{item}} <i class="fa fa-times" @click="deleteItem(index)"></i></li>
        </ul>
      </main>

    </div>

    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
